
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #background-video ,#background-attack ,.background-image{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    
  }
  button {
    padding: 5px;
    background-color: #ccc; /* Vous pouvez remplacer par la couleur de fond souhaitée */
    position: absolute;
    top: 10%;
    transform: translateY(-30%);
    width: 100px; /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton */
    border-radius: 50%; /* Pour rendre le bouton circulaire */
    border: 2px solid black; /* Bordure de 4 pixels de couleur jaune */
    background-color: #2980b9; /* Couleur de fond jaune */
    color: white; /* Couleur du texte en blanc */
    font-size: 40px; /* Taille de la police */
    cursor: pointer;
  }
  button.pass {
    padding: 5px;
    background-color: #ccc; /* Vous pouvez remplacer par la couleur de fond souhaitée */
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    width: 100px; /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton */
    border-radius: 50%; /* Pour rendre le bouton circulaire */
    border: 2px solid black; /* Bordure de 4 pixels de couleur jaune */
    background-color: #eb6b14; /* Couleur de fond jaune */
    color: white; /* Couleur du texte en blanc */
    font-size: 16px; /* Taille de la police */
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #2980b9; /* Changement de couleur de fond lors du survol */
  }
  
  .background-image
  {
    background-repeat: no-repeat;
    background-size: cover;
  
    justify-content: center;
    align-items: center;
  }
  #memory-game
  {
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  }
  
  .grid {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(4, 180px); 
      grid-gap: 5px;
      padding-top: 5px;
    }
  .card
  {
    
      width: 180px;
      height: 250px;
      perspective: 10000px;
      background-image: url('img/carte.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      cursor: pointer;
  
      backface-visibility: hidden; /* Cache le verso de l'élément pendant l'animation */
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform 0.5s;
  }
  
  .card:active {
      transform: scale(0.97);
      transition: transform 0.2s;
    transform: rotateY(90deg); 
  }
  